{{this.axeX}}
<app-grid-form (play) = "play()" (off)="stop()" (clear)="clearGrid()" (genGrid)="loadGrid()" (cellColor)="cellColor" (post)="saveGrid()" ></app-grid-form>
<div id="grid">
  Génération numéro {{this.generation}}
</div>
  <div>
    Celules vivante {{this.cellAlive}}
  </div>
<div id="container" class = "container">
  <div *ngFor="let cell of cells" class = "cell" [ngClass]="{'dead':cell.getAlive() === false}" [ngStyle]="{'background-color':cell.color,'width':styleCell.width,'height':styleCell.width}" (click) = setAlive(cell)>
  </div>
</div>

