<div>
  <input   type = "button" style = "margin:auto" (click)="start()" value = "test">
  <input type = "button" style = "margin:auto" (click) = "stop()"  value = "stop">
  <input type = "button" style = "margin:auto" (click) = "clearGrid()"  value = "clear">
</div>
<div>
  <form class ="form-group" [formGroup]="form">
    <label for="axeX"> longueur grille</label>
    <input formControlName="axeX" (change)="sendValue()" type = "number" class="form-control" name="axeX">
    <label for="axeY"> largeur grille</label>
    <input formControlName="axeY" (change)="sendValue()" type = "number" class="form-control" name="axeY">
    <label  for="color"> Couleur de cellules</label>
    <input formControlName="color" (change)="sendValue()" type = "color" class="form-control" name="cellColor">
    <input (click)="pipette()" type = "button"  class="form-control" name="cellColor">
    <input  type = "text" class="form-control" formControlName="name" [ngModel]="grid.name" name="name">
    <select formControlName="grids">
      <option [ngValue] = "null" disabled> Choisissez votre profil </option>
      <option *ngFor = "let grid of grids" [ngValue] = "grid">
        {{grid.name}}
      </option>
    </select>

  </form>
</div>
<div>
  <input type="button" value="génerer la grille" (click)="generateGrid()" >
  <input type="button" (click)="postGrid()" value="sauvegarder grille" >
</div>
